{% extends 'base.html' %} {% block title%}Register!{%
endblock %} {% block content %}

<div class="container">
	<h1 class="display-2">Register Here</h1>
	<form method="POST">
		{{ form.hidden_tag() }}
		<div class="mb-3">
			{{ form.username.label(class_="form-label") }} {{
			form.username(class_="form-control") }}
		</div>
		<div class="mb-3">
			{{ form.password.label(class_="form-label") }} {{
			form.password(class_="form-control") }}
		</div>
		<div class="mb-3">
			{{ form.email.label(class_="form-label") }} {{
			form.email(class_="form-control") }}
		</div>
		<div class="mb-3">
			{{ form.first_name.label(class_="form-label") }} {{
			form.first_name(class_="form-control") }}
		</div>
		<div class="mb-3">
			{{ form.last_name.label(class_="form-label") }} {{
			form.last_name(class_="form-control") }}
		</div>
		<button type="submit" class="btn btn-success">
			Register
		</button>
	</form>
</div>

{% endblock %}
